<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <marquee id="mark">Select your favourite book... Unravel the magic</marquee>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav navbar-right">
        <a class="nav-link"  routerLink="/login" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Login</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()">Add Book</a>
        <a class="nav-link" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Logout</a>
    </ul>
  </div>
</nav>    


<div id="bg">

  <div class="container">
  <router-outlet></router-outlet> 
</div>          
</div>
